<p><%= link_to('会員登録','http://localhost:3000/users/new') %></p>
<h1>新規投稿</h1>
<p>今何してる？</p>
<%= form_for Tweet.new do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>

<p>タイムライン</p>
<% @tweets.reverse_each do |tweet| %>
  <h1><%= tweet.title %></h1>
    <%= tweet.content %>
    <%= link_to "[delete]",tweet_path(tweet.id),method: :delete,
    data: {confirm: "are you sure?"}%>
<% end %>
