<p><%= link_to('home',tweets_new_path) %></p>
<h1>ユーザ一覧</h1>
<p>
<% @user.each do |user| %>
username : <%= link_to(user.username,"http://localhost:3000/users/show/1") %><br>
name : <%= user.name %>,<br>ra
location : <%= user.location %>,<br>
about : <%= user.about %><br><br>
<% end %>
</p>
