<h1><%= @user[:username] %></h1>
<p><%= @user[:name] %></p>
<ul>
  <li>Location : <%= @user[:location] %></li>
  <li>About    : <%= @user[:about] %></li>
  <li>email    : <%= @user[:email] %></li>
  <li>created_at    : <%= @user[:created_at] %></li>
</ul>
